/* html, body should be height:100%; if your map holder element is a child of another element then that element should also have height:100%;*/
html,
body,
.container-fluid,
.row{
  height: 100%;
}

/* The element itself should also have a 100% height or the map won't display*/
#map {
  height: 100%;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

img {
  width: 50px;
  float: right;
  padding-right: 20px;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-inverse .navbar-brand {
  color: #eee;
}

.navbar-inverse .navbar-brand:hover {
  color: white;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

/* Marker*/
#pano {
  width: 300px;
  height: 300px;
}

.infowindow--title {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #428bca;
}

/* PlaceType styles
 *
 */

/* make the icon float left so that always in the same line*/
.navbar-nav>li {
  float: left;
}

/* make the icon padding shorter so that always in the same line*/
.navbar-nav>li>a {
  padding: 15px 13px;
  line-height: 12px;
}

/* selected type will be magnified */
.currentType {
 font-size: 1.5em;
}

/* Tooltip container */
.navbar-nav>li {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.navbar-nav>li .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -40px; /* Use half of the width (80/2 = 40), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.navbar-nav>li:hover .tooltiptext {
    visibility: visible;
}

/* PlaceList styles
 *
 */
.placeList li {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #337ab7;
  position: relative;
  display: block;
}

/* hover is when your mouse hovers over the selected element*/
li:hover{
  color: #fff;
  background-color: #428bca;
  cursor: pointer;
}

/* Input box style
 *
 */
.nav-sidebar > .active,
.nav-sidebar > .active:hover,
.nav-sidebar > .active:focus {
  width: 100%;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}

.main {
  padding-right: 40px;
  padding-left: 40px;
}
}
.main .page-header {
margin-top: 0;
}

/*
 * When not in mobile mode, show the side bar, hide the burger icon
 */
@media (min-width: 400px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    /* set the width of the sidebar to be a fixed number, so you may see words clearly. Even though the width of the map is a percentage of the whole view port*/
    width: 270px;
  }

  .navbar-toggle {
    display: none;
  }
  /* PlaceType styles
   *
   */

  /* top and bottom margin for the placetype navbar*/
  #navbar {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1650px) {
  #map {
    margin-left: 10%;
    width: 90%;
  }
}
