
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-bar:before { content: '\e804'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */